

.footer-card {
    padding: 4% 7% 3%;
    color: var(--color-footer-text);
    background-color: var(--color-footer-bg);
}
.card-text li{
    font-family: "Montserrat", serif;
    font-weight: 200;
    font-style: normal;
    font-size: clamp(0.75rem, 1.6vw, 0.85rem) !important;
    text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7);  
}
.footer-text p {

    font-size: clamp(0.85rem, 2vw, 0.95rem) !important;
    font-family: "Montserrat", serif;
    font-weight: 300;
    font-style: normal;
    margin: 10px 0 20px;
    text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul > li {
    padding: 4px;
}
ul > li:hover {
    color: var(--color-footer-link-hover);
    cursor: pointer;
}

.social > i:hover {
    cursor: pointer;
}
.policy > div {
    padding: 4px;
}
.heading {
    font-family: 'Titillium Web', sans-serif;
    color: var(--color-footer-text);
    font-size: clamp(0.90rem, 2vw, 1.1rem) !important;
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    text-shadow: 
    2px 2px 4px rgba(0, 0, 0, 0.3), 
    4px 4px 8px rgba(0, 0, 0, 0.5),  
    6px 6px 12px rgba(0, 0, 0, 0.7);
}
.heading::after {
    content: ""; 
    width: calc(100% + 16px);
    height: 2px;
    display: block;
    background: var(--color-footer-link-hover);
    margin: 7px 0;
    border-radius: 5px;
}

.divider {
    text-align: center;
    padding-bottom: 10px;
    background-image: 
    linear-gradient(to right, rgba(154,155,165,0)
    10%, var(--color-card-border)
    50%, rgba(154,155,165,0)  90%);
    background-repeat: no-repeat;
    background-size: 80% 1px;
    background-position: center bottom;
}

/* socials icons*/
.social a {
    padding: 10px;
    opacity: 0.7;
    transition: 1s;
    -webkit-transition: 1s;
}
.social a:hover {
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
}
/* social icons color*/
.fa-facebook {
    color: #3B5998 !important;
}

.fa-twitter {
    color: #4099FF !important;
}

.fa-youtube-play {
    color: #e52d27 !important;
}

.fa-rss {
    color: #FF6600 !important;
}

.fa-vine {
    color: #00a478 !important;
}

.fa-flickr {
    color: #ff0084 !important;
}

.fa-twitch {
    color: #6441A5 !important;
}

.fa-linkedin {
    color: #007bb6 !important;
}

.pull-right,
.pull-left {
    font-size: 0.65rem;
    font-family: "Montserrat", sans-serif;
}
