
/* navbar */
.top-navbar {
    background: var(--color-header-bg) !important;
    transition: background 0.3s ease;
}
.navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.nav-infos span {
    font-size: clamp(0.65rem, 1.3vw, 0.85rem);
    color: var(--color-header-text) !important;
    font-family: 'Danbury Caps PERSONAL USE', sans-serif;
}
/* sign-up */
.link {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}
.link::before {
    content: '';
}
.link--thebe {
    font-family: "Racing Sans One", serif;
    text-transform: uppercase;
    color: var(--color-header-text) !important;
    transition: color 0.3s ease;
    font-size: clamp(0.10rem, 3vw + 0.40rem, 1.25rem) !important;
    font-weight: 200;
    font-style: normal;
    transition: all 0.7s ease;
}
.link--thebe:hover {
    color: var(--color-header-text) !important;

}
.link--thebe::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.link--thebe:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 2, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}

.link--thebe::after {
    content: '';
    top: calc(100% + 4px);
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.4s 0.1s cubic-bezier(0.2, 1, 0.8, 1);
}

.link--thebe:hover::after {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}

/* toggle mode */

:root {
	--hue: 223;
	--bg: hsl(var(--hue),10%,90%);
	--fg: hsl(var(--hue),10%,10%);
	--primary: hsl(var(--hue),90%,50%);
	--trans-dur: 0.3s;
	--trans-timing: cubic-bezier(0.76,0.05,0.24,0.95);
	--trans-timing-in: cubic-bezier(0.76,0.05,0.86,0.06);
	--trans-timing-out: cubic-bezier(0.05,0.76,0.06,0.86);
}
body,
input {
	color: var(--fg);
	font: 1em/1.5 sans-serif;
}

body {
	background-color: var(--bg);
	transition: background-color var(--trans-dur), color var(--trans-dur);
}



body:has(.switch__input:checked) {
	background-color: var(--fg);
	color: var(--bg);
    --color-header-bg: hsl(210, 10%, 15%) !important;
    --color-header-text: hsl(210, 10%, 85%) !important;
    --color-header-link: hsl(210, 70%, 70%) !important;
    /* --color-secondary-red: hsl(13, 70%, 41%) !important;   */
}


body:has(.switch__input:checked) .content nav:nth-of-type(2) {
    background:var(--color-header-bg)!important;

}
body:has(.switch__input:checked) .navbar-divider {
    background:var(--color-primary-blue)!important;

}
body:has(.switch__input:checked) .card-body {
    background:var(--color-card-bg)!important;
}

body:has(.switch__input:checked) .priceBtn {
    background:var(--color-primary-blue)!important;
}

body:has(.switch__input:checked) .priceBtn span {
    background: var(--color-header-link) !important;
}

body:has(.switch__input:checked) .first-text-box h1 {
    -webkit-text-stroke: 3px var(--color-card-border); 
    font-family: system-ui !important;
}

.switch {
	margin: auto;
	position: relative;
}
.switch__icon,
.switch__input {
	display: block;
}
.switch__icon {
	position: absolute;
	top: 0.375em;
	right: 0.375em;
	width: 0.75em;
	height: 0.75em;
	transition: opacity calc(var(--trans-dur) / 2), transform calc(var(--trans-dur) / 2);
}
.switch__icon polyline {
	transition: stroke-dashoffset calc(var(--trans-dur) / 2);
}
.switch__icon--light,
.switch__icon--light polyline {
	transition-delay: calc(var(--trans-dur) / 2);
	transition-timing-function: var(--trans-timing-out);
}
.switch__icon--dark {
	opacity: 0;
	transform: translateX(-0.75em) rotate(30deg) scale(0.75);
	transition-timing-function: var(--trans-timing-in);
}
.switch__input {
	background-color: hsl(210,90%,70%);
	border-radius: 0.75em;
	box-shadow:
		0 0 0 0.125em hsla(var(--hue),90%,50%,0),
		0.125em 0.125em 0.25em hsla(var(--hue),90%,10%,0.2);
	outline: transparent;
	position: relative;
	width: 3em;
	height: 1.5em;
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	transition:
		background-color var(--trans-dur) var(--trans-timing),
		box-shadow 0.15s linear;
}
.switch__input:focus-visible {
	box-shadow:
		0 0 0 0.125em hsl(var(--hue),90%,50%),
		0.125em 0.125em 0.25em hsla(var(--hue),90%,10%,0.2);
}
.switch__input:before,
.switch__input:after {
	content: "";
	display: block;
	position: absolute;
}
.switch__input:before {
	background-color: hsl(50,90%,50%);
	border-radius: inherit;
	mask-image: linear-gradient(120deg,hsl(0,0%,0%) 20%,hsla(0,0%,0%,0) 80%);
	-webkit-mask-image: linear-gradient(120deg,hsl(0,0%,0%) 20%,hsla(0,0%,0%,0) 80%);
	inset: 0;
	transition: background-color var(--trans-dur) var(--trans-timing);
}
.switch__input:after {
	background-color: hsl(0,0%,100%);
	border-radius: 50%;
	box-shadow: 0.05em 0.05em 0.05em hsla(var(--hue),90%,10%,0.1);
	top: 0.125em;
	left: 0.125em;
	width: 1.25em;
	height: 1.25em;
	transition:
		background-color var(--trans-dur) var(--trans-timing),
		transform var(--trans-dur) var(--trans-timing);
	z-index: 1;
}

.switch__input:checked {
	background-color: hsl(290,90%,40%);
}

.switch__input:checked:before {
	background-color: hsl(220,90%,40%);
}

.switch__input:checked:after {
	background-color: hsl(0,0%,0%);
	transform: translateX(1.5em);
}

.switch__input:checked ~ .switch__icon--light,
.switch__input:checked ~ .switch__icon--light polyline {
	transition-delay: 0s;
	transition-timing-function: var(--trans-timing-in);
}

.switch__input:checked ~ .switch__icon--light {
	opacity: 0;
	transform: translateX(-0.75em) rotate(-30deg) scale(0.75);
}

.switch__input:checked ~ .switch__icon--light polyline {
	stroke-dashoffset: 1.5;
}

.switch__input:checked ~ .switch__icon--dark {
	opacity: 1;
	transform: translateX(-1.5em);
	transition-delay: calc(var(--trans-dur) / 2);
	transition-timing-function: var(--trans-timing-out);
}

.switch__sr {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
}

.navbar-divider {
    width: 85%;
    margin: 0 auto; 
    border: 0;
    background: var(--color-secondary-red);
    /* background: red; */
    height: 2px;
    border-radius: 5px;
    transform: translate(0, 8px) !important;
}

.input-group {
    border-radius: 25px !important;
    overflow: hidden !important;
 }
 .input-group-text img {
    max-width: 30px;  
}

.form-control::placeholder {
    font: normal 0.75rem "trebuchet MS", arial, helvetica;
    font-style: italic; 
}

.navbar-brand {
    max-width: 15%;
    height: auto;
}

/*menus*/

 .submenu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 100;
    padding: 5px 40px 5px 5px;
    list-style: none;
    margin: 10px 0 0;
    border-top: 3px solid var(--color-secondary-red);
    border-radius: 5px;
    transition: all 0.7s; 
}

.submenu li {
    padding: 5px 0;
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.85rem;
    width: max-content;
    transform: translateX(0);
    transition: transform 0.7s ease, background-color 0.7s ease;
}

.submenu li:hover a{
    color: var(--color-secondary-red) !important;
}

.submenu li:hover {
    transform: translateX(9px) scale(1.1);
}

.custom-nav-item {
    position: relative;
}
 .custom-nav-item a {
    font-weight: 600;
    transition: all 0.7s ease;
    padding: 5px 20px;
} 

.arrow {
    margin-left: 10px;
    font-size: 12px;
    transition: transform 0.7s ease-in-out;
}

.custom-nav-item:hover .arrow {
    transform: rotate(180deg); 
}

.custom-nav-item:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.nav-link {
    font-size: 0.85rem;
    text-decoration: none;
    transition: all 3s ease;
    font-family: "Montserrat", serif;
} 

#skillsSubMenu li,
#inventorySubMenu li,
#featuresSubMenu li {
    padding-left: 5px;
    font-size: 0.75rem !important;
    font-family: "Montserrat", serif !important;  
}


/* header */

.header-slider {
    position: relative;
    overflow: hidden;
}

.carousel-item {
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
}


/* header title */
.header-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5% 2%;
    height: 100%;
    display: flex;
    align-items: center !important;
    /* justify-content: center; */
    z-index: 2;
}

.glass-box {

    background: rgba(0, 0, 0, 0.3); 
    border-radius: 15px;
    padding: 2rem;
}

.c-rating.c-rating--regular {
    margin-left: -1px !important;
    
}

.rating-stars .stars {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1;
}

.rating-holder .rating-count{
    opacity: .5;
    color: var(--color-header-text);
    font-size: clamp(0.50rem, 4vw, 1rem) !important; 
    font-weight: 400;
    margin: 0 !important;
}

.star-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.rating-number {
    color: var(--color_red)!important;
    font-weight: 1000 !important;
    font-size: clamp(0.25rem, 2.5vw, 1rem);
    color: var(--color-header-text);
}

.rating-count-item {
    color: var(--color-background-light-blue) !important;
    font-size: clamp(0.30rem, 1.5vw, 0.62rem) !important;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .45px;

}

.power span {
    color: var(--color-background-light-blue) !important;
    line-height: 1;
    display: block; 
    margin: 0;
    padding: 2px 0;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
}

.rating-holder .stars i {
    font-size: clamp(0.25rem, 2vw, 1rem);
}

.power-img {
    max-width: 1.7rem !important;
    height: auto !important;
}

.power span:first-child {
    font-size: clamp(0.45rem, 1vw, 0.75rem);
}

.power span:last-child {
    font-size: clamp(0.30rem, 1.5vw, 0.62rem);
    font-family: "Open Sans", sans-serif;
    opacity: .6;
    font-weight: 400;
    letter-spacing: .45px;
}

.header-title {
    color: var(--color-header-text);
    font-size: clamp(0.8rem, 3vw, 2rem);
    font-weight: bold;
    font-family: "Montserrat", serif;
    font-style: italic;
    text-transform: uppercase;
    line-height: 1.4;
}

.header-title span {
    color: var(--color_red);
    font-size: clamp(0.8rem, 3vw, 2rem) !important;
    font-weight: bold;
    font-family: "Racing Sans One", serif;
}

.main-header-caption {
    color: var(--color_wite);
    font-family: 'googleapis', sans-serif;
    font-size: clamp(0.6rem, 1vw, 1.30rem);
    font-weight: 500 !important;
    margin-top: 1.25rem;
    word-wrap: break-word;
    white-space: normal; 
    overflow-wrap: break-word; 
    background:var(--color_red);
    padding: 0.7rem 1rem;
    opacity: 0.7;
    height: 100%;
}

/* overlay */
em {
    position: relative;
}

.carousel-item img {
    object-fit: cover;
}

.carousel-item .slider-overlay {  
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.carousel-item .carousel-caption {
    position: relative;
    z-index: 2;
}















































































































































