
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

* {
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
    /* border: 1px solid; */
}

 @font-face {
    font-family: 'Monts';
    src: url('../fonts/MsMadi-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  } 

:root {
    --mainBlue: #0966d8;
    --mainBlue2: #40ACF1;
    --transparentBlue: rgba(64, 172, 241, 0.7);
    --mainWhite: #FFFFFF;
    --mainBlack: #292F36;
    --mainGray: #d8d6d6;
    --mainYellow: #e1b505;
    --bs-font-sans-serif: 'Montserrat', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --roboto: 'roboto', sans-serif;
}

body {
    font-family: var(--roboto);
    color: var(--mainBlack);
    background: var(--mainWhite);
    /* padding-bottom: 20rem; */
    margin: 0 !important;
    padding: 0 !important;
}
a {
    text-decoration: none;
}

.navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  /* حذف فاصله پیش‌فرض برای جلوگیری از جابه‌جایی محتوا */

  

  
  
  body {
    padding-top: 70px; /* برای جلوگیری از پوشش محتوای صفحه */
  }
  
/* .navbar {
    background: var(--transparentBlue);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(5px);
} */
/* .navbar-brand {
    width: 20px;
} */
/* .navbar-toggler {
    outline-color: var(--mainBlue) !important;
} */
.navbar-icon {
    /* font-size: 3rem; */
    /* color: var(--mainBlue); */
    color: #e3b505;
}
hr {
    border: 1px solid #120606;
    margin: 0 auto;
    width: 90%;
}
 .input-group {
    border-radius: 20px !important;
    overflow: hidden !important;
 }
.nav-link:hover {
    color: var(--mainBlue);
}

/* تنظیمات برای لینک‌های آیکون */
.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d6efd; /* رنگ آبی */
    color: white; /* رنگ متن */
    border-radius: 50%; /* گرد کردن لینک */
    width: 40px; /* اندازه لینک */
    height: 40px; /* اندازه لینک */
    text-decoration: none; /* حذف خط زیر متن */
    transition: all 0.3s ease; /* افکت تغییرات */
  }
  
  /* تنظیمات آیکون‌ها */
 
  
  /* افکت هاور */
  .nav-icon:hover {
    background-color: #0056b3 !important; /* رنگ تیره‌تر در حالت هاور */
    color: white !important; /* رنگ متن ثابت */
  }
  /*menus */

  .nav-item {
    position: relative;
  }
  
  .nav-link {
    transition: color 0.3s ease; 
  }
  
  .nav-link:hover {
    color: #ff5722;
  }
  .sub-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    padding: 5px; /* فضای داخلی زیرمنو */
    margin: 0;
    list-style: none;
    border: 1px solid #ddd;
    z-index: 1000;
    white-space: nowrap; /* جلوگیری از شکسته شدن خطوط */
    width: auto; /* عرض خودکار بر اساس محتوا */
    display: inline-block; /* نمایش به صورت بلوک درون خطی */
    box-sizing: border-box; /* برای در نظر گرفتن پدینگ و حاشیه در عرض */
    transition: opacity 0.7s ease, visibility 0.7s ease;
  }
  
  /* .sub-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    padding: 0 5px;
    margin: 0;
    list-style: none;
    border: 1px solid #ddd;
    z-index: 1000;
    display: inline-block; 
    white-space: nowrap; 
    transition: opacity 0.7s ease, visibility 0.7s ease;
  } */
  
  .sub-menu li {
    padding: 7px;
  }
  
  .sub-menu li a {
    text-decoration: none;
    color: #333;
    transition: color 0.7s ease;
  }
  
  .sub-menu li a:hover {

    color: #ff5722;
  }
  
  .nav-item:hover .sub-menu {
    opacity: 1;
    visibility: visible;
  }
  
  .sub-menu li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block; 
    transition: background-color 0.3s ease, color 0.3s ease; 
  }
  
  .sub-menu li a:hover {
    background-color: #ff5722;
    color: #fff;
  }
  


  
  
  

 




/* .nav-icon {
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    color: var(--mainBlue);
    transition:all 0.7s ;
    
}
.nav-icon:hover {
    color: var(--mainBlack);
} */

/* ///// */
/* .height-max {
    min-height: calc(100vh - 80px);
    background: url(../image/car1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: zooming;
    animation-duration: 20s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}  */

header {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
    color: var(--mainWhite);
    overflow: hidden;

}


.power-img {
    max-width: 35px;
    height: auto;
}
 .power span {
    color: var(--mainWhite) !important;
 }
 .power span:first-child {
    color: var(--mainWhite) !important;

 }
 .power span:last-child {
    font-size: 12px;
 }
.header-title {
    color: var(--mainWhite);
    /* color: black; */
    /* font-family: var(--bs-font-sans-serif) !important; */
    /* font-family: 'Monts'; */
    font-weight: 900;
    /* font-style: normal; */
    /* margin: 1.25rem 0; */
    font-size: 3rem;
    line-height: -1;
}
.header-title span {
    color: red;
    /* font-family: var(--bs-font-sans-serif) !important; */
    /* font-family: 'Monts'; */
    font-weight: 900;
    /* font-style: normal !important; */
    font-size: 3rem;


}
.main-header-caption {
    color: var(--mainWhite);
    /* color: #e3b505; */
    font-family: var(--open-sans) !important;

    font-size: 1.25rem;
}
.height-max {
    min-height: calc(100vh - 80px);
    background: url(../image/car-header.jpg);
    background-position: center center;  /* تنظیم موقعیت تصویر در مرکز */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation-name: zooming;
    animation-duration: 20s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    transform-origin: center center;  /* مرکز تصویر به عنوان نقطه مرجع برای زوم */
}

@keyframes zooming {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);  /* بزرگتر کردن تصویر */
    }
    100% {
        transform: scale(1);
    }
}




/*  */
.ml12 {
    font-weight: 700;
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.7s ease-out;
    letter-spacing: -20;
  }
  
  .ml12 .letter {
    display: inline-block;
    line-height: 1em;
  }
  

.first-text-box h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase; /* تبدیل حروف به حروف بزرگ */
    /* font-size: calc(1rem + min(90px, 15vw));  */
    font-size: calc(1rem + min(50px, 9vw)); /* اندازه فونت کمی کوچکتر */
    font-weight: 1000; /* بولد کردن متن */
    font-family: system-ui !important;
    letter-spacing: -.180ch;
    line-height: 0.9;
    color: rgb(80, 163, 219);
    -webkit-text-stroke: 3px black; /* خط دور حروف */
    /* text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);  */
    text-shadow: 
    2px 2px 4px rgba(0, 0, 0, 0.3),  /* سایه نرم اول */
    4px 4px 8px rgba(0, 0, 0, 0.5),  /* سایه متوسط */
    6px 6px 12px rgba(0, 0, 0, 0.7); /* سایه برجسته‌تر */
  
    font-family: 'Roboto', sans-serif; /* فونت بهتر (می‌توانید هر فونت دلخواه را استفاده کنید) */
  }
  
  /* استایل برای container */
  .first-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* استایل برای div و دیگر بخش‌ها */
  .first-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  



  














/*  */



/* .text-box h1 {
	font-size: 3vw;
	font-weight: 700;
	background-color: #3b90e5;
	color: var(--mainYellow);
	display: block;
	padding: .5em 0.3em;
}

.text-box h1:nth-child(2) {
	position: absolute;
	background-color: #fff;
    color: #3b90e5;
	clip-path: inset(-1% -1% 50% -1%);
} */



/* .title-container {
	display: flex;
	align-items: center;
	justify-content: center;
} */
/* .section-title-special {
    background: var(--transparentBlue);
    color: var(--mainWhite);
    padding: 1rem 2rem;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
} */
.skills-icon {
    font-size: 3rem;
    color: var(--mainYellow);
    background: var(--mainGray);
    transition: all 0.7s;
}
.skills-icon:hover {
    color: var(--mainBlue);
}
.skills-underline {
    width: 4rem;
    height: 0.3rem;
    background: var(--mainBlue);
    margin: 1rem auto;
}

/* cars */

.inventory {
    background: var(--mainGray);
}


/*  */


/* مخفی کردن فوتر */
.card-footer {
    position: absolute;
    bottom: 40%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1); /* پس‌زمینه تیره */
    color: white;
    border: 0;
    padding: 10px;
    opacity: 0;
    transform: translateY(100%); /* فوتر در ابتدا خارج از نمایش است */
    transition: opacity 0.7s ease, transform 0.7s ease;
}
.card-footer p {
    z-index: 2;
}
/* تیره شدن تصویر هنگام هاور */
.car-img {
    transition: opacity 0.7s ease, filter 0.7s ease;
}

.car-card:hover .car-img {
    filter: brightness(0.7); /* تصویر تیره‌تر می‌شود */
}

.car-card:hover .card-footer {
    opacity: 1; /* فوتر به آرامی ظاهر می‌شود */
}



/*  */

.card-footer i {
    color: red;
    margin-right: 5px;
}




















.car-card {
    border-radius: 15px !important;
    
}
.car-img {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.priceBtn {
    color: var(--mainBlue);
    font-size: 1rem;
    border: none;
    /* border: 2px solid var(--mainBlue); */
    border-radius: 0.5em;
    /* width: 12em; */
    height: 3em;
    /* text-transform: uppercase; */
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
    /* line-height: 3em; */
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.6s ease-in;
    /* margin: 1em; */
    display: flex;
    align-items: center;
    justify-content: center; 
}

.priceBtn span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--mainBlue);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.priceBtn:hover {
    color: black;
}

.priceBtn:hover span {
    transform: translateY(0) scale(2);
}

.priceBtn span:nth-child(1) {
    --n: 1;
}
.priceBtn span:nth-child(2) {
    --n: 2;
}

.priceBtn span:nth-child(3) {
    --n: 3;
}

.priceBtn span:nth-child(4) {
    --n: 4;
}

/* .car-value {
    background: var(--mainBlue);
    color: var(--mainWhite);
    clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
    transition: all 1s linear;
}
.car-value:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
} */

/* question */

.question {


    position: relative;
    background: url(../image/benz-bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* color: #fff; */
    overflow: hidden;

    
}

/* .question-text h4 .question-text p {
    z-index: 3;
} */
.question-gray {
    background: rgba(185, 211, 214, 0.5);

}
.question-yellow {
    background: rgba(225, 181, 5, 0.5);

}
.question-icon {
    font-size: 4rem;
    color: var(--mainBlue);
    transition: all 0.7s ease-in-out;
}
.question-icon:hover {
    transform: translateY(-10%) !important;
    color: var(--mainBlack) !important;
}
.question-info {
    color: var(--mainWhite);

}
.question-title {
    color: var(--mainBlack);
    color: #120606;

}
/* paralax */

.parallax-section {
    position: relative;
    height: 350px; /* ارتفاع سکشن */
    background-image: url('../image/paralux.webp'); /* مسیر تصویر */
    background-attachment: fixed; /* پارالاکس */
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* لایه تیره */
    z-index: 2; /* بالاتر از تصویر */
}

.content {
    position: relative;
    z-index: 2; /* بالاتر از لایه تیره */
}

/* featured */

/*  */
.counter-wrapper {
    /* width: 100% !important;
    height: 100%; */
    /* background-color: rgba(33, 39, 43, 0.4) !important; */
    background-color: rgba(5, 45, 45, 0.3);
    border-radius: 15px;
    padding: 5px 100px;
    /* border: 1px solid rgb(40, 34, 34); */
    z-index: 1;

  }
  
  .counter-item {
    flex: 1;
    min-width: 150px;
    color:var(--mainWhite);
    z-index: 6;
  }
  
  .counter-emoji {
    font-size: 40px;
    /* margin-bottom: 15px; */
  }
  
  .counter-number {
    font-size: 30px;
    font-weight: 600;
    /* margin-top: 8px;
    padding-bottom: 16px; */
    line-height: 10px;
    position: relative;
  }
  /* .counter-number::before {
      content: '';
      width: 60px;
      height: 1px;
      border-radius: 20px;
      background: var(--mainWhite);
      position: absolute;
      bottom: -4px; 
      left: 50%; 
      transform: translateX(-50%); 
  } */

  
.plus-sign {
    font-size: 30px;
    font-weight: bold;
    /* margin-left: 5px;  */
  }

  .counter-caption {
    font-size: 18px;
    color: var(--mainYellow);
    z-index: 6;
    /* padding: 7px; */
    /* margin: 16px 0; */
  }
  
  @media (max-width: 768px) {
    .counter-item {
      flex-basis: 100%; /* هر کانتر در موبایل به صورت ستونی نمایش داده می‌شود */
    }
  }
  
/*  */
.featured {
    background: var(--mainGray);
}
.featured-item {
    /* background: var(--mainWhite); */
    border-radius: 0.5rem;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
} 
.featured-item:hover {
    opacity: 1;
    transform: scale(1.05);
}
.featured-icon {
    font-size: 1.5rem;
    color: var(--mainBlue);
    cursor: pointer;
    transition: all 0.7s ease-in-out;

}
.featured-icon:hover {
    color: var(--mainBlue);
}
 .img-container {
    background: var(--mainBlue);
    position: relative;
    overflow: hidden;
    height: 100%; /* یا از درصد برای مقیاس‌بندی استفاده کنید */
    max-height: 408px; /* برای جلوگیری از بزرگتر شدن از حد معین */

    
} 
.img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain !important;
}
.featured-photo {
    width: 100%; /* پر کردن عرض والد */
    height: 100%; /* پر کردن ارتفاع والد */
    object-fit: cover; /* حفظ تناسب تصویر در فضای والد */
    /* transition: all 0.7s ease-in-out; */
    transition: transform 0.7s ease-in-out;
}
.img-container:hover .featured-photo {
    transform: scale(1.3);
    opacity: 0.5;
}
.featured-link {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    transform: translate(-50%, -50%);
    color: var(--mainBlack);
    opacity: 0;
    transition: all 0.7s ease-in-out;

}
.featured-link:hover {
    color: var(--mainWhite);
}
.img-container:hover .featured-link {
    opacity: 1;
}


.featured-img {
    text-align: center;

}


/* contact */

.contact {
    background:  linear-gradient(rgba(0,0,0,0.5 ),rgba(0,0,0,0.5 )), url("../image/car5.jpeg") center/cover fixed no-repeat;
}

/* ????????? */

/* .contact-input {
    font-size: 1.5rem;
    text-transform: capitalize;
    background: transparent;
    border-color: var(--mainYellow) !important;
    color: var(--mainYellow) !important;
    box-shadow: none !important;
}

.contact-input::placeholder {
    color: var(--mainYellow);
}

.contact-input:focus {
    background: transparent;
    border-color: var(--mainYellow) !important;
    color: var(--mainYellow) !important;
    box-shadow: none !important;
    outline: none !important;
}

.contact-btn {
    text-transform: uppercase;
    color: var(--mainYellow);
    border-color: var(--mainYellow);
    transition: all 0.7s ease-in-out;

}

.contact-btn:hover {
    background: var(--mainYellow);
    border-color: var(--mainBlack);
    color: var(--mainBlack);
} */

/* ???????? */


/* container search */
.input-box h3 {
    font-family: cursive;
    /* color: #7eba7c; */
    color: #000;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.5) !important;
    /* text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) !important; */
    /* font: bold 30px Arial, Helvetica, Sans-serif !important; */
}

#searchbox {
    background: #eaf8fc;
    background-image: -moz-linear-gradient(#fff, #d4e8ec);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #d4e8ec),
      color-stop(1, #fff)
    );
  
    -moz-border-radius: 35px;
    border-radius: 35px;
  
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;
    /* width: 500px;
    height: 35px; */
    padding: 4px 10px;
    /* margin: 100px auto 50px; */
    overflow: hidden;
    display: flex;
  }
  
  /* #search,
  #submit {
    float: left;
  } */
  
  #search {
    padding: 5px 9px;
    width: 80%;
    height: auto;
    border: 1px solid #a4c3ca;
    font: normal 13px "trebuchet MS", arial, helvetica;
    background: #f1f1f1;
  
    -moz-border-radius: 50px 3px 3px 50px;
    border-radius: 50px 3px 3px 50px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset,
      0 1px 0 rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset,
      0 1px 0 rgba(255, 255, 255, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset,
      0 1px 0 rgba(255, 255, 255, 1);
  }
  
  /* ----------------------- */
  
  #submit {
    background: #6cbb6b;
    background-image: -moz-linear-gradient(#95d788, #6cbb6b);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #6cbb6b),
      color-stop(1, #95d788)
    );
  
    -moz-border-radius: 3px 50px 50px 3px;
    border-radius: 3px 50px 50px 3px;
  
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
  
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3),
      0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3),
      0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  
    height: 35px;
    margin: 0 0 0 10px;
    padding: 0;
    width: 90px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;
  
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }
  
  #submit:hover {
    background: #95d788;
    background-image: -moz-linear-gradient(#6cbb6b, #95d788);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #95d788),
      color-stop(1, #6cbb6b)
    );
  }
  
  #submit:active {
    background: #95d788;
    outline: none;
  
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  }
  
  #submit::-moz-focus-inner {
    border: none;
  }
  
  /* ----------------------- */
  
  #search::-webkit-input-placeholder {
    color: #9c9c9c;
    font-style: italic;
  }
  
  #search:-moz-placeholder {
    color: #9c9c9c;
    font-style: italic;
  }
  
  #search.placeholder {
    color: #9c9c9c !important;
    font-style: italic;
  }
  
  #search:focus {
    border-color: #8badb4;
    background: #fff;
    outline: none;
  }


  .byline p {
    text-align: left;
    color: #7eba7c;
    font: bold 17px Arial, Helvetica, Sans-serif;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    /* line-height: 1.5; */
  }
  
  .byline p a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
  }
/* services */



.services {
    position: relative;
    /* min-height: 100vh;  */
    min-height: 85vh; 
    min-width: 95vw;
    margin: 0 auto !important;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.video-container {
    position: fixed;  /* برای ایجاد اثر پارالاکس */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    transform: translateY(0);  /* شروع با وضعیت اولیه */
    will-change: transform;  /* به مرورگر می‌گوییم که می‌خواهیم تغییرات در این خصوص داشته باشیم */
}

.video-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: var(--transparentBlue); */
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -2;
}

.service {
    background: var(--mainBlack);
    color: var(--mainWhite);
    transition: all 0.7s ease-in-out;
    padding-left: 1rem;

}
.service:hover {
    background: var(--mainWhite);
    color: var(--mainBlack);
    padding-left: 2em 0.2rem !important;
}
.services-icon {
    font-size: 4rem;
    color: var(--mainYellow);
}
/* customer */

/* .customer-card-body {
    margin-top: -3.5rem !important;
    color: var(--mainGray);
}
.customer-img {
    width: 100px;
    height: 100px;
    border: 0.4rem solid var(--mainWhite);
}
.customer-name {
    color: var(--mainBlue);
}
.customer-icon {
    font-size: 2rem;

}
.customer-coute {
    max-width: 90%;
} */
/* slider */
.image-wrapper {
    width: 16.666%;  /* به این ترتیب در هر ردیف 6 تصویر نمایش داده می‌شود */
}
.wrapper-slider {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px; 
  
}
.logo-img {
    width: 100%; /* عرض 100 درصد از فضای والد */
    max-width: 120px; /* حداکثر عرض برای جلوگیری از بزرگ شدن بیش از حد */
    height: auto; /* حفظ نسبت ابعاد تصویر */
}

.slider-controls-container {
    display: flex;
    align-items: center; /* مرکزیت دکمه و خط */
    justify-content: center; /* مرکزیت در ارتفاع */
    gap: 10px; /* فاصله بین دکمه و خط */
}

.slider-container {
    flex: 1; /* اسلایدر عرض بیشتری می‌گیرد */
    position: relative;
    overflow: hidden;
}

.slider-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.image-wrapper {
    text-align: center;
    flex-shrink: 0;
    width: 16.66%; /* برای نمایش 6 تصویر */
}

.logo-img {
    width: 100px;
    height: auto;
}

.slider-arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.vertical-line {
    width: 3px;
    height: 90px;
    background-color: #007bff;
    margin-right: 15px;
    
}

/* footer */


.footer-card {
    padding: 4% 7% 3%;
    color: #646771;
    background-color: #16151a;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul > li {
    padding: 4px;
}

ul > li:hover {
    color: #957bda;
    cursor: pointer;
}

hr {
    border-width: 3px;
}

.social > i {
    padding: 1%;
    font-size: 15px;
}

.social > i:hover {
    color: #957bda;
    cursor: pointer;
}

.policy > div {
    padding: 4px;
}

.heading {
    font-family: 'Titillium Web', sans-serif;
    color: white;
}







.divider {
    /* border-top: 0.5px solid rgba(189, 196, 203, 0.5); */

        text-align: center;
        padding-bottom: 10px;
        background-image: linear-gradient(to right, rgba(154,155,165,0)  10%, rgba(154,155,165,1) 50%, rgba(154,155,165,0)  90%);
        background-repeat: no-repeat;
        background-size: 80% 1px;
        background-position: center bottom;
      
}

/* آیکون‌های سوشال */
.social a {
    padding: 10px;
    font-size: 29px;
    color: #fff;
    opacity: 0.7;
    transition: 1s;
    -webkit-transition: 1s;
}

.social a:hover {
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
}

/* رنگ آیکون‌های سوشال */
.fa-facebook {
    color: #3B5998 !important;
}

.fa-twitter {
    color: #4099FF !important;
}

.fa-youtube-play {
    color: #e52d27 !important;
}

.fa-rss {
    color: #FF6600 !important;
}

.fa-vine {
    color: #00a478 !important;
}

.fa-flickr {
    color: #ff0084 !important;
}

.fa-twitch {
    color: #6441A5 !important;
}

.fa-linkedin {
    color: #007bb6 !important;
}


/* footer {
    background: var(--mainBlack);
}
.footer-icon {
    font-size: 1.5rem;
    color: var(--mainYellow);
    transition: all 0.7s ease-in-out;
}
.footer-icon:hover {
    color: var(--mainBlue);
} */


/* در حالت موبایل و تبلت، عرض ساب‌منوها به 100% تنظیم می‌شود */
@media (max-width: 991px) {
    .sub-menu {
        top: 24px;
        left: 105px;
        white-space: wrap; /* جلوگیری از شکسته شدن خطوط */
    }
    .sub-menu li {
        padding: 2px  !important;
      }
    

    .nav-item a {
        padding: 9px 0 !important;
    }
}
/* #201F1D */
